.option {
  position: relative;
  cursor: pointer;
}

.title {
  display: inline-block;
  color: #fff;
  padding: 0.5rem 1rem;
  user-select: none;
}

.title:hover {
  color: #000;
  background-color: #fff;
}

.picker {
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
}

@media (max-width: 660px) {
  .title {
    font-size: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
