.option {
  position: relative;
  padding: 0.5rem 1rem;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.option:hover {
  background-color: #ffffff;
  color: #000000;
}

.picker {
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
}