.options {
  position: fixed;
  top: 0;
  left: 50%;
  padding: 0.5rem 1rem;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.4);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 10;
}

.option {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
  cursor: pointer;
}

.colour {
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
}